
<div>
    <h2><span data-translate="fftsApp.department.detail.title">Department</span> {{vm.department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.department.name">Name</span></dt>
        <dd>
            <span>{{vm.department.name}}</span>
        </dd>
        <dt><span data-translate="fftsApp.department.code">Code</span></dt>
        <dd>
            <span>{{vm.department.code}}</span>
        </dd>
        <dt><span data-translate="fftsApp.department.active">Active</span></dt>
        <dd>
            <span>{{vm.department.active}}</span>
        </dd>
        <dt><span data-translate="fftsApp.department.description">Description</span></dt>
        <dd>
            <span>{{vm.department.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="department-detail.edit({id:vm.department.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
