
<div>
    <h2><span data-translate="fftsApp.company.detail.title">Company</span> {{vm.company.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.company.name">Name</span></dt>
        <dd>
            <span>{{vm.company.name}}</span>
        </dd>
        <dt><span data-translate="fftsApp.company.displayName">Display Name</span></dt>
        <dd>
            <span>{{vm.company.displayName}}</span>
        </dd>
        <dt><span data-translate="fftsApp.company.active">Active</span></dt>
        <dd>
            <span>{{vm.company.active}}</span>
        </dd>
        <dt><span data-translate="fftsApp.company.location">Location</span></dt>
        <dd>
            <span>{{vm.company.location}}</span>
        </dd>
        <dt><span data-translate="fftsApp.company.description">Description</span></dt>
        <dd>
            <span>{{vm.company.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="company-detail.edit({id:vm.company.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
