
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation enctype="multipart/form-data">

    <div class="modal-header">

        <h4 class="modal-title" id="myFuelTransactionLabel" data-translate="fftsApp.fuelTransaction.home.createOrEditLabel">Create or edit a Fuel Transaction</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.fuelTransaction.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fuelTransaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.driverName" for="field_driverName">Driver Name</label>
            <input type="text" class="form-control" name="driverName" id="field_driverName"
                    ng-model="vm.fuelTransaction.driverName"
                    required ng-minlength="1" ng-maxlength="1024"/>
            <div ng-show="editForm.driverName.$invalid">
                <p class="help-block"
                    ng-show="editForm.driverName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.driverName.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.driverName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.vehicleNo" for="field_vehicleNo">Vehicle No</label>
            <input type="text" class="form-control" name="vehicleNo" id="field_vehicleNo"
                    ng-model="vm.fuelTransaction.vehicleNo"
                    required ng-minlength="1" ng-maxlength="12"/>
            <div ng-show="editForm.vehicleNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.vehicleNo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.vehicleNo.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.vehicleNo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="12">
                    This field cannot be longer than 12 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.openingKm" for="field_openingKm">Opening Km</label>
            <input type="text" class="form-control" name="openingKm" id="field_openingKm"
                    ng-model="vm.fuelTransaction.openingKm"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.openingKm.$invalid">
                <p class="help-block"
                    ng-show="editForm.openingKm.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.openingKm.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.closingKm" for="field_closingKm">Closing Km</label>
            <input type="text" class="form-control" name="closingKm" id="field_closingKm"
                    ng-model="vm.fuelTransaction.closingKm"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.closingKm.$invalid">
                <p class="help-block"
                    ng-show="editForm.closingKm.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.closingKm.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.rkm" for="field_rkm">Rkm</label>
            <input type="text" class="form-control" name="rkm" id="field_rkm"
                    ng-model="vm.fuelTransaction.rkm"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.hsd" for="field_hsd">Hsd</label>
            <input type="text" class="form-control" name="hsd" id="field_hsd"
                    ng-model="vm.fuelTransaction.hsd"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.bav" for="field_bav">Bav</label>
            <input type="text" class="form-control" name="bav" id="field_bav"
                    ng-model="vm.fuelTransaction.bav"
                    />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.supervisorName" for="field_supervisorName">Supervisor Name</label>
            <input type="text" class="form-control" name="supervisorName" id="field_supervisorName"
                    ng-model="vm.fuelTransaction.supervisorName"
                    required/>
            <div ng-show="editForm.supervisorName.$invalid">
                <p class="help-block"
                    ng-show="editForm.supervisorName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.vehicleCompany" for="field_vehicleCompany">Vehicle Company</label>
            <input type="text" class="form-control" name="vehicleCompany" id="field_vehicleCompany"
                    ng-model="vm.fuelTransaction.vehicleCompany"
                    required/>
            <div ng-show="editForm.vehicleCompany.$invalid">
                <p class="help-block"
                    ng-show="editForm.vehicleCompany.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.vehicleComingFrom" for="field_vehicleComingFrom">Vehicle Coming From</label>
            <input type="text" class="form-control" name="vehicleComingFrom" id="field_vehicleComingFrom"
                    ng-model="vm.fuelTransaction.vehicleComingFrom"
                    required/>
            <div ng-show="editForm.vehicleComingFrom.$invalid">
                <p class="help-block"
                    ng-show="editForm.vehicleComingFrom.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.vehicleWentTo" for="field_vehicleWentTo">Vehicle Went To</label>
            <input type="text" class="form-control" name="vehicleWentTo" id="field_vehicleWentTo"
                    ng-model="vm.fuelTransaction.vehicleWentTo"
                    required/>
            <div ng-show="editForm.vehicleWentTo.$invalid">
                <p class="help-block"
                    ng-show="editForm.vehicleWentTo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.phoneNo" for="field_phoneNo">Phone No</label>
            <input type="text" class="form-control" name="phoneNo" id="field_phoneNo"
                    ng-model="vm.fuelTransaction.phoneNo"
                    required ng-minlength="10" ng-maxlength="11"/>
            <div ng-show="editForm.phoneNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.phoneNo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.phoneNo.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="10">
                    This field is required to be at least 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.phoneNo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="11">
                    This field cannot be longer than 11 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.hsdInwords" for="field_hsdInwords">Hsd Inwords</label>
            <input type="text" class="form-control" name="hsdInwords" id="field_hsdInwords"
                    ng-model="vm.fuelTransaction.hsdInwords"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fuelTransaction.receiptNo" for="field_receiptNo">Receipt No</label>
            <input type="text" class="form-control" name="receiptNo" id="field_receiptNo"
                    ng-model="vm.fuelTransaction.receiptNo"
                    required/>
            <div ng-show="editForm.receiptNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.receiptNo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="fftsApp.fuelTransaction.vehicleCategory" for="field_vehicle_category">Vehicle Category</label>
            <select class="form-control" id="field_vehicle_category" name="vehicleCategory" ng-model="vm.selectedCategory"  ng-change="vm.reloadVehiclesByCategory()"
                    ng-options="category as category.name for category in vm.categories track by category.id">
                <option value="">Please Select</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="fftsApp.fuelTransaction.vehicle" for="field_vehicle">Vehicle Type</label>
            <select class="form-control" id="field_vehicle" name="vehicle" ng-model="vm.fuelTransaction.vehicle" ng-options="vehicle as vehicle.name for vehicle in vm.vehicles track by vehicle.id">
                <option value="">Please Select</option>

            </select>
        </div>
        <div class="form-group">
            <label data-translate="fftsApp.fuelTransaction.openingKMFile" for="field_opening_km_file">Opening KMs Reading</label>
            <input type="file" class="form-control" name="file" id="field_opening_km_file" ng-model="files[0]" apply-file-change="files[0]" required/>
            <div ng-show="editForm.receiptNo.$invalid">
                <p class="help-block"
                   ng-show="editForm.receiptNo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label data-translate="fftsApp.fuelTransaction.receipt" for="field_receipt">Receipt</label>
            <input type="file" class="form-control" name="file" id="field_receipt" ng-model="files[1]" apply-file-change="files[1]"/>
        </div>
        <div class="form-group">
            <label data-translate="fftsApp.fuelTransaction.fuelReading" for="field_fuelReading">Fuel Reading</label>
            <input type="file" class="form-control" name="file" id="field_fuelReading" ng-model="files[2]" apply-file-change="files[2]"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
