
<div>
    <h2><span data-translate="fftsApp.fuelTransaction.detail.title">Fuel Transaction</span> {{vm.fuelTransaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.fuelTransaction.driverName">Driver Name</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.driverName}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.vehicleNo">Vehicle No</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.vehicleNo}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.openingKm">Opening Km</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.openingKm}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.closingKm">Closing Km</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.closingKm}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.rkm">Rkm</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.rkm}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.hsd">Hsd</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.hsd}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.bav">Bav</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.bav}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.dateTime">Date Time</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.dateTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.supervisorName">Supervisor Name</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.supervisorName}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.vehicleCompany">Vehicle Company</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.vehicleCompany}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.vehicleComingFrom">Vehicle Coming From</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.vehicleComingFrom}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.vehicleWentTo">Vehicle Went To</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.vehicleWentTo}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.phoneNo">Phone No</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.phoneNo}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.hsdInwords">Hsd Inwords</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.hsdInwords}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.receiptNo">Receipt No</span></dt>
        <dd>
            <span>{{vm.fuelTransaction.receiptNo}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fuelTransaction.vehicle">Vehicle</span></dt>
        <dd>
            <a ui-sref="vehicle-detail({id:vm.fuelTransaction.vehicle.id})">{{vm.fuelTransaction.vehicle.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="fuel-transaction-detail.edit({id:vm.fuelTransaction.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
