<div>
    <h2 data-translate="fftsApp.fuelTransaction.home.title">Fuel Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="fuel-transaction.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fftsApp.fuelTransaction.home.createLabel">
                        Create new Fuel Transaction
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverName"><span data-translate="fftsApp.fuelTransaction.driverName">Driver Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleNo"><span data-translate="fftsApp.fuelTransaction.vehicleNo">Vehicle No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openingKm"><span data-translate="fftsApp.fuelTransaction.openingKm">Opening Km</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="closingKm"><span data-translate="fftsApp.fuelTransaction.closingKm">Closing Km</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rkm"><span data-translate="fftsApp.fuelTransaction.rkm">Rkm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hsd"><span data-translate="fftsApp.fuelTransaction.hsd">Hsd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bav"><span data-translate="fftsApp.fuelTransaction.bav">Bav</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateTime"><span data-translate="fftsApp.fuelTransaction.dateTime">Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supervisorName"><span data-translate="fftsApp.fuelTransaction.supervisorName">Supervisor Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleCompany"><span data-translate="fftsApp.fuelTransaction.vehicleCompany">Vehicle Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleComingFrom"><span data-translate="fftsApp.fuelTransaction.vehicleComingFrom">Vehicle Coming From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleWentTo"><span data-translate="fftsApp.fuelTransaction.vehicleWentTo">Vehicle Went To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNo"><span data-translate="fftsApp.fuelTransaction.phoneNo">Phone No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hsdInwords"><span data-translate="fftsApp.fuelTransaction.hsdInwords">Hsd Inwords</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptNo"><span data-translate="fftsApp.fuelTransaction.receiptNo">Receipt No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicle.id"><span data-translate="fftsApp.fuelTransaction.vehicle">Vehicle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fuelTransaction in vm.fuelTransactions track by fuelTransaction.id">
                    <td><a ui-sref="fuel-transaction-detail({id:fuelTransaction.id})">{{fuelTransaction.id}}</a></td>
                    <td>{{fuelTransaction.driverName}}</td>
                    <td>{{fuelTransaction.vehicleNo}}</td>
                    <td>{{fuelTransaction.openingKm}}</td>
                    <td>{{fuelTransaction.closingKm}}</td>
                    <td>{{fuelTransaction.rkm}}</td>
                    <td>{{fuelTransaction.hsd}}</td>
                    <td>{{fuelTransaction.bav}}</td>
                    <td>{{fuelTransaction.dateTime | date:'medium'}}</td>
                    <td>{{fuelTransaction.supervisorName}}</td>
                    <td>{{fuelTransaction.vehicleCompany}}</td>
                    <td>{{fuelTransaction.vehicleComingFrom}}</td>
                    <td>{{fuelTransaction.vehicleWentTo}}</td>
                    <td>{{fuelTransaction.phoneNo}}</td>
                    <td>{{fuelTransaction.hsdInwords}}</td>
                    <td>{{fuelTransaction.receiptNo}}</td>
                    <td>
                        <a ui-sref="vehicle-detail({id:fuelTransaction.vehicle.id})">{{fuelTransaction.vehicle.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="fuel-transaction-detail({id:fuelTransaction.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fuel-transaction.edit({id:fuelTransaction.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fuel-transaction.delete({id:fuelTransaction.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
