
<div>
    <h2><span data-translate="fftsApp.designation.detail.title">Designation</span> {{vm.designation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.designation.name">Name</span></dt>
        <dd>
            <span>{{vm.designation.name}}</span>
        </dd>
        <dt><span data-translate="fftsApp.designation.code">Code</span></dt>
        <dd>
            <span>{{vm.designation.code}}</span>
        </dd>
        <dt><span data-translate="fftsApp.designation.active">Active</span></dt>
        <dd>
            <span>{{vm.designation.active}}</span>
        </dd>
        <dt><span data-translate="fftsApp.designation.description">Description</span></dt>
        <dd>
            <span>{{vm.designation.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="designation-detail.edit({id:vm.designation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
