<div>
    <h2 data-translate="fftsApp.fillingStation.home.title">Filling Stations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="filling-station.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fftsApp.fillingStation.home.createLabel">
                        Create new Filling Station
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span data-translate="global.field.sno">S.No</span></th>
                    <th jh-sort-by="name"><span data-translate="fftsApp.fillingStation.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span data-translate="fftsApp.fillingStation.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="displayName"><span data-translate="fftsApp.fillingStation.displayName">Display Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="fftsApp.fillingStation.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noOfGuns"><span data-translate="fftsApp.fillingStation.noOfGuns">No Of Guns</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fillingStation in vm.fillingStations track by fillingStation.id">
                    <td>{{$index + 1}}</td>
                    <td><a ui-sref="filling-station-detail({id:fillingStation.id})">{{fillingStation.name}}</a></td>
                    <td>{{fillingStation.location}}</td>
                    <td>{{fillingStation.displayName}}</td>
                    <td>{{fillingStation.active}}</td>
                    <td>{{fillingStation.noOfGuns}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="filling-station-detail({id:fillingStation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="filling-station.edit({id:fillingStation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="filling-station.delete({id:fillingStation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
