
<div>
    <h2><span data-translate="fftsApp.fillingStation.detail.title">Filling Station</span> {{vm.fillingStation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.fillingStation.name">Name</span></dt>
        <dd>
            <span>{{vm.fillingStation.name}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fillingStation.location">Location</span></dt>
        <dd>
            <span>{{vm.fillingStation.location}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fillingStation.displayName">Display Name</span></dt>
        <dd>
            <span>{{vm.fillingStation.displayName}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fillingStation.active">Active</span></dt>
        <dd>
            <span>{{vm.fillingStation.active}}</span>
        </dd>
        <dt><span data-translate="fftsApp.fillingStation.noOfGuns">No Of Guns</span></dt>
        <dd>
            <span>{{vm.fillingStation.noOfGuns}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="filling-station-detail.edit({id:vm.fillingStation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
