
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFillingStationLabel" data-translate="fftsApp.fillingStation.home.createOrEditLabel">Create or edit a Filling Station</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.fillingStation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fillingStation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fillingStation.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.fillingStation.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fillingStation.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.fillingStation.location"
                    required/>
            <div ng-show="editForm.location.$invalid">
                <p class="help-block"
                    ng-show="editForm.location.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fillingStation.displayName" for="field_displayName">Display Name</label>
            <input type="text" class="form-control" name="displayName" id="field_displayName"
                    ng-model="vm.fillingStation.displayName"
                    required/>
            <div ng-show="editForm.displayName.$invalid">
                <p class="help-block"
                    ng-show="editForm.displayName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fillingStation.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.fillingStation.active"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.fillingStation.noOfGuns" for="field_noOfGuns">No Of Guns</label>

            <!-- <input type="number" class="form-control" name="noOfGuns" id="field_noOfGuns1"
                    ng-model="vm.fillingStation.noOfGuns"
                    required/>-->

            <select class="form-control" id="field_noOfGuns" name="noOfGuns"
                    ng-model="vm.fillingStation.noOfGuns"
                    ng-options="n for n in [] | range:1:30" required>
                <option value="0">Please Select</option>

            </select>

            <div ng-show="editForm.noOfGuns.$invalid">
                <p class="help-block"
                    ng-show="editForm.noOfGuns.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.noOfGuns.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
