
<div>
    <h2><span data-translate="fftsApp.vehicle.detail.title">Vehicle</span> {{vm.vehicle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.vehicle.name">Name</span></dt>
        <dd>
            <span>{{vm.vehicle.name}}</span>
        </dd>
        <dt><span data-translate="fftsApp.vehicle.vehicleNumber">Vehicle Number</span></dt>
        <dd>
            <span>{{vm.vehicle.vehicleNumber}}</span>
        </dd>
        <dt><span data-translate="fftsApp.vehicle.active">Active</span></dt>
        <dd>
            <span>{{vm.vehicle.active}}</span>
        </dd>
        <dt><span data-translate="fftsApp.vehicle.avgMileage">Avg Mileage</span></dt>
        <dd>
            <span>{{vm.vehicle.avgMileage}}</span>
        </dd>
        <dt><span data-translate="fftsApp.vehicle.description">Description</span></dt>
        <dd>
            <span>{{vm.vehicle.description}}</span>
        </dd>
        <dt><span data-translate="fftsApp.vehicle.category">Category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.vehicle.category.id})">{{vm.vehicle.category.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="vehicle-detail.edit({id:vm.vehicle.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
