
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVehicleLabel" data-translate="fftsApp.vehicle.home.createOrEditLabel">Create or edit a Vehicle</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.vehicle.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vehicle.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.vehicle.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.vehicle.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.vehicle.vehicleNumber" for="field_vehicleNumber">Vehicle Number</label>
            <input type="text" class="form-control" name="vehicleNumber" id="field_vehicleNumber"
                    ng-model="vm.vehicle.vehicleNumber"
                    required ng-minlength="6" ng-maxlength="10" ng-pattern="/^[A-Z0-9]*$/"/>
            <div ng-show="editForm.vehicleNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.vehicleNumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.vehicleNumber.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="6">
                    This field is required to be at least 6 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.vehicleNumber.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.vehicleNumber.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="Vehicle Number">
                    This field should follow pattern for "Vehicle Number".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.vehicle.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.vehicle.active"/>
        </div>


        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.vehicle.avgMileage" for="field_avgMileage">Avg Mileage</label>
            <input type="text" class="form-control" name="avgMileage" id="field_avgMileage"
                   ng-model="vm.vehicle.avgMileage"
            />
        </div>


        <div class="form-group">
            <label class="control-label" data-translate="fftsApp.vehicle.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.vehicle.description"
                    />
        </div>

        <div class="form-group">
            <label data-translate="fftsApp.vehicle.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.vehicle.category"
                    ng-options="category as category.name for category in vm.categories | filter:{active:'true'} | orderBy:'id' track by category.id" required>
                <option value="0">Please Select</option>
            </select>
        </div>
        <div ng-show="editForm.category.$invalid">
            <p class="help-block"
                ng-show="editForm.category.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
