<div>
    <h2 data-translate="fftsApp.vehicle.home.title">Vehicles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vehicle.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fftsApp.vehicle.home.createLabel">
                        Create new Vehicle
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span data-translate="global.field.sno">S.No</span></th>
                    <th jh-sort-by="name"><span data-translate="fftsApp.vehicle.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleNumber"><span data-translate="fftsApp.vehicle.vehicleNumber">Vehicle Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="fftsApp.vehicle.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="avg_mileage"><span data-translate="fftsApp.vehicle.avgMileage">Avg Mileage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="fftsApp.vehicle.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.id"><span data-translate="fftsApp.vehicle.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicle in vm.vehicles track by vehicle.id">
                    <td>{{$index + 1}}</td>
                    <td><a ui-sref="vehicle-detail({id:vehicle.id})">{{vehicle.name}}</a></td>
                    <td>{{vehicle.vehicleNumber}}</td>
                    <td>{{vehicle.active}}</td>
                    <td>{{vehicle.avgMileage}}</td>
                    <td>{{vehicle.description}}</td>
                    <td>
                        <a ui-sref="category-detail({id:vehicle.category.id})">{{vehicle.category.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vehicle-detail({id:vehicle.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vehicle.edit({id:vehicle.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vehicle.delete({id:vehicle.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
