
<div>
    <h2><span data-translate="fftsApp.route.detail.title">Route</span> {{vm.route.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fftsApp.route.source">Source</span></dt>
        <dd>
            <span>{{vm.route.source}}</span>
        </dd>
        <dt><span data-translate="fftsApp.route.destination">Destination</span></dt>
        <dd>
            <span>{{vm.route.destination}}</span>
        </dd>
        <dt><span data-translate="fftsApp.route.active">Active</span></dt>
        <dd>
            <span>{{vm.route.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="route-detail.edit({id:vm.route.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
